* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}

h1  {
    color: rgb(219, 235, 52);
    font-size: 36px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.image-container {
    background: #37c640;
  height: 300px;
  width: 300px;
  position: relative;
  padding: 40px;
}

.image-container2 {
    background: #b41010;
  height: 480px;
  width: 640px;
  position: fixed;
  padding: 40px;
  left: 0px;
}

#potatoes {
    height: 200px;
    width: 200px;
    position: relative;
}
#spuds {
    height: 240px;
    width: 400px;
    position: relative;
    }


h2  {
color: rgb(60, 112, 157);
font-size: 36px;
padding: 20px;
position: absolute;
top: 20px;
}

.cookie-notice {
    background-color: #d8dc1d;
    font-size: 50px;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.buttonacc {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.buttonrej {
    position: absolute;
    bottom: 0px;
    right: 0px;
}