* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* we add flex to the section because it is the parent container */

.main-section   {
    display: flex;
    /* the default direction is row */
    flex-direction: column;
    justify-content: flex-start; 
    /* justify content applies styles in the flex direction */ 
    align-items: center;  
    /* align items works in the opposite direction to the axis of justify-content */
    flex-wrap: wrap;
    /* flex-wrap ensures that items will reorder and change layout dependent on screen size */
}


p {
    width: 500px;
}